<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MyCaffe.app.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <userSettings>
    <MyCaffe.app.Properties.Settings>
      <setting name="OnlineHelpUrl" serializeAs="String">
        <value>https://www.signalpop.com/help</value>
      </setting>
      <setting name="GPU" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NsModelName" serializeAs="String">
        <value>VGG19</value>
      </setting>
      <setting name="NsSolverType" serializeAs="String">
        <value>LBFGS</value>
      </setting>
      <setting name="NsIterations" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="NsLearningRate" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="NsResultPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="NsIntermediateIterations" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="NsTVLoss" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NsContentImgFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="NsStyleImgFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="NsMaxImageSize" serializeAs="String">
        <value>640</value>
      </setting>
      <setting name="CustVmin" serializeAs="String">
        <value>-10</value>
      </setting>
      <setting name="CustVmax" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CustBatch" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="CustMiniBatch" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CustIteration" serializeAs="String">
        <value>1000000</value>
      </setting>
      <setting name="VocFile1" serializeAs="String">
        <value/>
      </setting>
      <setting name="VocFile2" serializeAs="String">
        <value/>
      </setting>
      <setting name="VocFile3" serializeAs="String">
        <value/>
      </setting>
      <setting name="CiFarFile1" serializeAs="String">
        <value/>
      </setting>
      <setting name="CiFarFile2" serializeAs="String">
        <value/>
      </setting>
      <setting name="CiFarFile3" serializeAs="String">
        <value/>
      </setting>
      <setting name="CiFarFile4" serializeAs="String">
        <value/>
      </setting>
      <setting name="CiFarFile5" serializeAs="String">
        <value/>
      </setting>
      <setting name="CiFarFileTest" serializeAs="String">
        <value/>
      </setting>
      <setting name="MnistFile1" serializeAs="String">
        <value/>
      </setting>
      <setting name="MnistFile2" serializeAs="String">
        <value/>
      </setting>
      <setting name="MnistFile3" serializeAs="String">
        <value/>
      </setting>
      <setting name="MnistFile4" serializeAs="String">
        <value/>
      </setting>
      <setting name="ExpandFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImgDbVer" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ExportMnistToFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MnistExportFolder" serializeAs="String">
        <value/>
      </setting>
    </MyCaffe.app.Properties.Settings>
  </userSettings>
</configuration>
