<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="DNNEntities" connectionString="metadata=res://*/DNNModel.csdl|res://*/DNNModel.ssdl|res://*/DNNModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DNN;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
