<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MyCaffe.test.automated.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TestingEntities" connectionString="metadata=res://*/TestingModel.csdl|res://*/TestingModel.ssdl|res://*/TestingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Testing;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
    <MyCaffe.test.automated.Properties.Settings>
      <setting name="LastTestRunClass" serializeAs="String">
        <value />
      </setting>
      <setting name="LastTestRunMethod" serializeAs="String">
        <value />
      </setting>
    </MyCaffe.test.automated.Properties.Settings>
  </userSettings>
</configuration>
