<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Server" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="170.1000.7" targetFramework="net48" />
</packages>